---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/templates/template-2/Navbar';
import Hero from '../../components/templates/template-2/Hero';
---

<Layout title="Template 2: Lead Capture">
	<Navbar client:load />
	<main>
		<Hero client:load />
	</main>
</Layout>
