---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/templates/template-3/Navbar';
import Hero from '../../components/templates/template-3/Hero';
---

<Layout title="Template 3: Authority VSL">
	<Navbar client:load />
	<main>
		<Hero client:load />
	</main>
</Layout>
