---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/clients/dentalsalon/Navbar';
import Hero from '../../components/clients/dentalsalon/Hero';
---

<Layout title="Dental Salon | Fájdalommentes fogkőeltávolítás">
	<Navbar client:load />
	<main>
		<Hero client:load />
	</main>
</Layout>
