---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/clients/smile-institute/Navbar';
import Hero from '../../components/clients/smile-institute/Hero';
---

<Layout title="Smile Institute® | Prémium fogászat">
	<Navbar client:load />
	<main>
		<Hero client:load />
	</main>
</Layout>
