---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
---

<Layout title="Smile Institute® | Prémium fogászat">
	<Navbar client:load />
	<main>
		<Hero client:load />
	</main>
</Layout>
