---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
---

<Layout title="FixNow | 24/7 Emergency Plumbing">
	<Navbar client:load />
	<main>
		<Hero client:load />
	</main>
</Layout>
